extend layout

prepend additional_header

	script(src='/js/local/OverlayView.js', charset='utf-8')
	script(src='/js/local/Graph.js', charset='utf-8')
	script(src='/js/local/TaxiAnimation.js', charset='utf-8')
	script(src='/js/local/TaxiChartDrawer.js', charset='utf-8')
	script(src='/js/local/taxi_jquery.js', charset='utf-8')
	script(src='/js/lib/async.js', charset='utf-8')
	link(rel='stylesheet', href='/css/taxi.css')



