extend layout

prepend additional_header

	script(src='/js/overlay.js', charset='utf-8')
	script(src='/js/graph.js', charset='utf-8')
	script(src='/js/taxiscript.js', charset='utf-8')
	script(src='/js/async.js', charset='utf-8')
	link(rel='stylesheet', href='/css/taxi.css')



