extend layout
block additional_header

block content


	#map


	script.
		d3.select('#map').append('svg')
			.attr({height: 100, width: 100})

		d3.selectAll('svg').append('circle')
			.attr({ cx : 50, cy : 50, r : 25, 'fill': 'red'})

		d3.selectAll('svg').append('line')
			.attr({ x1 : 0, y1 : 0, x2 : 60, y2 : 60, 'style' : 'stroke:black; stroke-width:2'})


		var taxis = [{id:1,size:10},{id:2,size:5},{id:4,size:8}];
		var set = [];

		set.push(taxis[0]);

		console.log(set[0]);
		console.log(taxis[0]);
		console.log(set[0] === taxis[0]);

		var pop = set.shift();
		console.log(pop);
		console.log(taxis[0]);
		console.log(set[0] === taxis[0]);
		console.log(pop === taxis[0]);


		var original = [{id:1,size:10},{id:2,size:5},{id:4,size:8}];
		var copy = original;
		console.log(original === copy);
		original = 0;
		console.log(original);
		console.log(copy);
		console.log(original === copy);

