extend layout_taxi
append additional_header

append content


	.page-header
		h2 San Francisco Taxi
			small &nbsp animation of crawdad data

	.row#data-panel
		.col-sm-5
			div
				| &nbsp start time
			div
				select.selectpicker.start-month(data-width='35%')#map-input-start-month
				select.selectpicker.start-day(data-width='30%')#map-input-start-day
				select.selectpicker.start-time(data-width='35%')#map-input-start-time
		.col-sm-2
			div
				| month day
			div
				span#info-time.large 
		.col-sm-5
			div
				| &nbsp end time
			div
				select.selectpicker.end-month(data-width='35%')#map-input-end-month
				select.selectpicker.end-day(data-width='30%')#map-input-end-day
				select.selectpicker.end-time(data-width='35%')#map-input-end-time

	.row#info-panel
		.col-md-3
			| placeholder
		.col-md-3
			| placeholder
		.col-md-3
			| placeholder
		.col-md-3
			button.button-full-width#map-generate-button Generate
			button.button-half-width#map-start-button(style='display:none') Start 
			button.button-half-width#map-stop-button(style='display:none')  Stop
			button.button-half-width#map-reset-button(style='display:none') Reset
	#taxi-anim

	.page-header
		h2 Data charts
			small &nbsp 
	
	.row#chart-info-panel
		.col-md-4
			div
				.row
					.col-sm-2
						| Start
					.col-sm-10
						select.selectpicker.start-month(data-width='35%')#chart-input-start-month
						select.selectpicker.start-day(data-width='30%')#chart-input-start-day
						select.selectpicker.start-time(data-width='35%')#chart-input-start-time
			div
				.row
					.col-sm-2
						| End
					.col-sm-10
						select.selectpicker.end-month(data-width='35%')#chart-input-end-month
						select.selectpicker.end-day(data-width='30%')#chart-input-end-day
						select.selectpicker.end-time(data-width='35%')#chart-input-end-time
		.col-md-6
			div
				.row
					.col-sm-2
						| Type
					.col-sm-4
						select.selectpicker(data-width='100%')#chart-input-type
							option(value='degrees') degrees
							option(value='diameters') diameters
							option(value='components') components
					.col-sm-2
						| Interval
					.col-sm-4
						select.selectpicker(data-width='100%')#chart-input-interval
				.row
					.col-sm-2
						| Radius (m)
					.col-sm-4
						input.col-sm-12#chart-input-radius(type=text, value = 500)
					.col-sm-2
						| Placeholder
					.col-sm-4
			div
				.row

		.col-md-2
			button.button-full-width#chart-generate-button Generate

	#taxi-data


	
	script.
		// parameters to control the animation

		// parameters specific to Taxi SF dataset:
		// ... the earliest timestamp is 1211018404, 17-May-2008 10:00:04 
		// ... the latest timestamp is 1213089934, 6-June-2008 09:25:34
		// ... if the timestamp is GMT, then subtract 8 for SF

		var min_time = 1211018404;
		var max_time = 1213089934;

		var chunk_size = 14400;
		var data_collection_interval = 60;

		var time_increments = 60;

		// boundary points for our svg

		var available_year = 2008;
		var available_dates = [ {month: 'May',  min_date: '17', max_date: '31'},
														 {month: 'June', min_date: '1',  max_date: '6'} ];
		var available_times = [	'00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00',
													  '08:00', '09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00',
														'16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00' ];
		var recommended_intervals = [ 60 ];


		// Taxi animation
		//
		// Create a map centered in San Fransisco
		var map = new google.maps.Map(d3.select("#taxi-anim").node(), {
			zoom: 15,
			center: new google.maps.LatLng(37.7833,-122.4167),
			mapTypeId: google.maps.MapTypeId.ROADMAP
		});
		var styles = [ {stylers: [{ hue: '#e0dce8' }, { saturation: -60 }, { lightness: 60}] }];
		map.setOptions({styles: styles});

		//var currentTime = new Date(end_time*1000);
		//d3.select('#info-time').text('  ' +	currentTime.toTimeString().substr(0,8));

		var overlay;

		function generate_taxi_animation(start_time,end_time)
		{
			var boundaries = [ {id : 'NW', x: 37.99999, y: -122.56000},
															{id : 'NE', x: 37.99999, y: -122.00000},
															{id : 'SE', x: 37.20000, y: -122.00000},
															{id : 'SW', x: 37.20000, y: -122.56000} ];
			// Create a new overlay and bind it to our map
			overlay = new OverlayView();
			overlay.setMap(map);


			var frame_step = 60;	
			var frame_transition = 900;	

			var data_url = '/dataset/taxi_sf_epoch/';
			var data_chunk_size = 3600;

			// Set some parameters for the overlay animation (e.g. transition time), 
			// these methods are in our inherited class
			overlay.setTransitionTime(frame_transition);
			overlay.setBoundaries(boundaries);

			animation_parameters = { animation_start_time : start_time, 
															 animation_end_time		: end_time,
															 animation_step				: frame_step,
															 data_url							: data_url,
															 data_chunk						: data_chunk_size,
															 radius								: 500
														};	
			var anim = new TaxiAnimation(overlay, animation_parameters);
			//anim.animation_loop();


			return new Promise (function(resolve,reject){
				d3.json(data_url + 'time?start=' + start_time + '&end=' + (start_time+data_chunk_size), function(error,data){
					if (error) reject('Error getting initial data' + error);
					else
					{
						anim.active_data = data;
						if (start_time+data_chunk_size <= end_time)
						{
							d3.json(data_url + 'time?start=' + (start_time+data_chunk_size) + '&end=' + (start_time+2*data_chunk_size), function(error,data){
								if (error) reject('Error getting initial data' + error);
								else
								{
									anim.next_set_of_data = data;
									resolve(anim);
								}
							});
						}
						else
						{
							resolve(anim);
						}
					}
				});
			});
		}

		function generate_taxi_chart(start_time,end_time,type)
		{

			var chart_div = d3.select('#taxi-data');
			var chart_svg = chart_div.append('svg')
				.attr('height',400)
				.attr('width',1800)

			var interval = 60;
			var data_url = '/dataset/taxi_sf_epoch/';
			var data_chunk_size = 3600;

			chart_parameters = { chart_start_time : start_time,
													 chart_end_time   : end_time,
													 chart_interval   : interval,
													 chart_type				: type,
													 data_url					: data_url,
													 data_chunk_size  : data_chunk_size,
													 data_max_value   : 150,
													 svg 							: chart_svg,
													 svg_height				: 400,
												 };

			var chart_drawer = new TaxiChartDrawer(chart_parameters);

			return new Promise (function(resolve,reject){
				d3.json(data_url + 'time?start=' + start_time + '&end=' + (start_time+data_chunk_size), function(error,data){
					if (error) reject('Error getting initial data' + error);
					else
					{
						chart_drawer.active_data = data;
						if (start_time+data_chunk_size <= end_time)
						{
							d3.json(data_url + 'time?start=' + (start_time+data_chunk_size) + '&end=' + (start_time+2*data_chunk_size), function(error,data){
								if (error) reject('Error getting initial data' + error);
								else
								{
									chart_drawer.next_set_of_data = data;
									resolve(chart_drawer);
								}
							});
						}
						else
						{
							resolve(chart_drawer);
						}
					}
				});
			});	

		}
