extend layout_taxi
append additional_header

append content
	script.
		// parameters to control the animation

		// parameters specific to Taxi SF dataset:
		// ... the earliest timestamp is 1211018404, 17-May-2008 10:00:04
		// ... the latest timestamp is 1213089934, 6-June-2008 09:25:34
		// ... the offset is -7 (due to daylight saving)

		var min_time = 1211018404;
		var max_time = 1213089934;
		var time_offset = -7;

		var chunk_size = 14400;
		var data_collection_interval = 60;

		var time_increments = 60;

		// boundary points for our svg

		var available_year = 2008;
		var available_dates = [ {month: 'May',  min_date: '17', max_date: '31'},
														 {month: 'June', min_date: '1',  max_date: '6'} ];
		var available_times = [	'00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00',
													  '08:00', '09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00',
														'16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00' ];
		var available_intervals = [ 45, 60 ];

		var map_boundaries = [  {id : 'NW', x: 37.99, y: -122.56},
														{id : 'NE', x: 37.99, y: -122.00},
														{id : 'SE', x: 37.20, y: -122.00},
														{id : 'SW', x: 37.20, y: -122.56} ];

		// Taxi animation
		//
		// Create a map centered in San Fransisco
		var map = new google.maps.Map(d3.select("#taxi-anim").node(), {
			zoom: 15,
			center: new google.maps.LatLng(37.7833,-122.4167),
			mapTypeId: google.maps.MapTypeId.ROADMAP
		});

		google.maps.event.addListener(map, "rightclick", function(event) {
				var lat = event.latLng.lat();
				var lng = event.latLng.lng();
				// populate yor box/field with lat, lng
				alert("Lat=" + lat + "; Lng=" + lng);
		});

		var styles = [ {stylers: [{ hue: '#e0dce8' }, { saturation: -60 }, { lightness: 60}] }];
		map.setOptions({styles: styles});

		var data_url = '/dataset/taxi_sf_epoch/';
		var data_chunk_size = 3600;

		var recommended_start_day = 25;
		var recommended_start_month = 'May';
		var recommended_start_hour = '04:00';
		var recommended_end_day = 26;
		var recommended_end_month = 'May';
		var recommended_end_hour = '04:00';

		var recommended_interval = 60;
		var recommended_radius = 300;
