extend layout
append additional_header

		script(src='/js/lib/bootstrap-select.min.js', charset='utf-8')
		script(src='/js/testing/testing10.js', charset='utf-8')
	
append content


		h1 Test page

		
