* {
  border-radius: 0 !important;
}

.axis {
  fill: none;
  stroke: black;
  font-size: x-small;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}


html,body,#taxi-anim {
	width: 100%;
	height: 90%;
	margin: 0;
	padding: 0 20px 0 30px;
}

#taxi-anim{
	margin-top: 12px;
}

#taxi-data{
	height: 420px;
  width: 100%;
	overflow: scroll;
}

footer{
	margin-top: 160px;
	margin-bottom: 20px;
}

.title-box{
	background-color: #eceaea;
}
.clicked{
	background-color: #dcd6ed;
}

.button-half-width{
	width:50%;
}

.button-full-width{
	width:100%;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.col1{
	background-color:rgba(110,110,110,0.1);
}
.col2{
	background-color:rgba(50,50,50,0.1);
}
.col3{
	background-color:rgba(180,180,180,0.1);
}
.col4{
	background-color:rgba(110,110,110,0.1);
}
.col5{
	background-color:rgba(50,50,50,0.1);
}

.month-selector {
	display:none;
}
.day-selector {
	width: '15%';
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}


#chart-info-panel{
}



#svg-axis{
	position: absolute;
	left: 40px;
}

.progress-bar{
};
.progress{
};

.btn-default:focus{
	background-color: red;
}
